<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos en Tiempo Real</title>
</head>
<body>
  <h1>Productos en Tiempo Real</h1>
  <ul id="product-list">
    {{#each products}}
      <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
  </ul>

  <!-- form para agregar producto -->
  <form id="add-product-form">
    <input type="text" id="productName" placeholder="Nombre del Producto" required>
    <input type="number" id="productPrice" placeholder="Precio del Producto" required>
    <button type="submit">Agregar Producto</button>
  </form>

  <!-- sweetalert 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    // actualizar la lista de productos en tiempo real
    socket.on('updateProducts', (products) => {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';  // lipmia la lista de productos
      products.forEach(product => {
        const li = document.createElement('li');
        li.textContent = `${product.name} - ${product.price}`;
        productList.appendChild(li);
      });
    });

    // mostrar alerta cuando se agrega un nuevo producto
    socket.on('productAdded', (product) => {
      Swal.fire({
        title: '¡Producto agregado!',
        text: `El producto ${product.name} ha sido agregado con éxito.`,
        icon: 'success',
        confirmButtonText: 'OK'
      });
    });

    // pasa el nuevo producto al servidor con el formulario
    const form = document.getElementById('add-product-form');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const name = document.getElementById('productName').value;
      const price = document.getElementById('productPrice').value;

      socket.emit('newProduct', { name, price });

      // limpia el formulario
      form.reset();
    });
  </script>
</body>
</html>
